// Breakpoints
$media-xxl: 1399.98px;
$media-xl: 1199.98px;
$media-lg: 991.98px;
$media-md: 767.98px;
$media-sm: 575.98px;
$media-xs: 479.98px;
// Colors
$color-black-alpha: #23262f;
$color-black-beta: #000;
$color-white-alpha: #fff;
$color-white-beta: #f4f5f6;
$color-white-gamma: #fcfcfd;
$color-gray-alpha: #777e90;
$color-gray-beta: #b8babf;
$color-red-alpha: #d11a2a;
$color-green-alpha: #07b966;
// Fonts
$font-primary: 'Manrope', sans-serif;
