.input {
  width: 100%;

  font-size: 14px;
  font-weight: 600;

  padding: 1.125em 1.25em;

  background-color: $color-white-beta;
  border-radius: 8px;
  border: 1px solid transparent;

  &[type='password'] {
    padding-right: 45px;
  }

  &:focus {
    border-color: $color-black-alpha;
  }

  @include media-phone-lg {
    font-size: 14px;
  }
}
