.button {
  padding: 0.875em;

  background-color: $color-red-alpha;
  box-shadow: 0px 20px 25px rgba(209, 26, 42, 0.15);
  border-radius: 12px;

  color: $color-white-alpha;
  font-weight: 600;

  transition: background-color 0.1s linear;

  &:hover {
    background-color: lighten($color-red-alpha, 10);
  }

  &:active {
    background-color: $color-red-alpha;
  }

  &:disabled {
    background-color: $color-gray-beta;
  }
}
